body{
  padding: 10px;
}

img{
  width: 100%;
}

#image-div{
  min-height: 68vh;
}
#image{
  max-height: 68vh;
}

#div-root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#div-main{
  max-width: 40vw;
}

#selection{
  max-width: 60vw;
}

@media(max-width: 430px) {

  #div-main {
    max-width: 100vw;
  }
}